.margen{
    margin-top: 200px !important;
}
.project-name{
    color:rgb(10, 148, 63)
}

.fade-1{
    opacity: 1;
    transition-delay: 300ms;
    transition-duration: 2s;
  }
  .fade-2{
    opacity:0;
    
  }
  