<section>
    <br><br><br>
    <div class="container-fluid p-0">
        <h2 class="text-center mt-0">Portafolio</h2>
        <hr class="divider" />
        <div [ngClass]="isActive ? 'fade-1':'fade-2'" (scroll-in)="activate()" (scroll-out)="deactivate()"
            class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://video-header.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/angular-video.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Video-Header Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://afri-agraria.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/afri-agraria3.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Afri-Agraria Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://bigdata-resource.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/big-data.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Slideshow Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://sportonetshirt.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/tshirt.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Tshirt Shop Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://shop-lith.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/lith-shop.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Shop Lith Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://cloud-bigdata.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/cloud.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Auto slideshow Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://parallax-app.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/parallax-web.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Parallax-web Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://jasonpraut.com" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/jason.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Jason Praut's Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://tecladosgamers.com" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/teclados.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Teclados Gamer's Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://estimuladoresmusculares.com" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/estimuladores.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Estimuladores Musculares's Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://cocktel.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/cocktel.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Cocktel's Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://skew2.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/leyendas.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">skew Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://appgifs2.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/gifapp.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-name">Gif's Project</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://usuarios-post.netlify.app/" title="Project Name">
                    <img class="img-fluid" src="../../../assets/images/usuarios.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-name">UsuariosPost Project</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>